@page "/Tecnico/create"
@inject TecnicoServices tecnicoServices
@inject TiposTecnicosServices tiposTecnicosServices
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Registro de T&eacute;cnicos</PageTitle>

<EditForm Model="tecnico" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="card">
        <div class="card-header bg-primary text-white text-center py-2 rounded">
            <h3> <i class="fas fa-clipboard-list"></i> Registro de T&eacute;cnicos</h3>
        </div>

        <div class="card-body">
            @*TecnicoId*@
            <div class="row">
                <div class="col-4 ms-3">
                    <label class="form-label"><strong>TécnicoId</strong></label>
                    <InputNumber class="form-control" @bind-Value="tecnico.TecnicoId" />
                    <ValidationMessage For="@(() => tecnico.TecnicoId)" />
                </div>
            </div>

            @*Nombres*@
            <div class="mb-3">
                <label for="Nombres" class="form-label">Nombres:</label>
                <InputText @bind-Value="tecnico.Nombres" class="form-control" />
                <ValidationMessage For="@(() => tecnico.Nombres)" />
                @if (Existe)
                {
                    <p class="text-danger">Ya existe una persona que tiene este nombre.</p>
                }

            </div>

            @*TipoTecnico*@
            <div class="mb-3">
                <label for="TipoTecnicoId">Tipo de Técnico:</label>
                <div class="row">
                    <div class="col-4 ms-3">
                        <InputSelect @bind-Value="tecnico.TipoTecnicoId" class="form-control">
                            <option value="">Seleccione un tipo de técnico</option>
                            @foreach (var tiposTecnicos in ListaTiposTecnicos)
                            {
                                <option value="@tiposTecnicos.TipoTecnicoId">@tiposTecnicos.Descripcion</option>
                            }
                        </InputSelect>
                        <ValidationMessage For="@(() => tecnico.TipoTecnicoId)" />
                    </div>
                </div>
            </div>

        </div>

        @*SueldoHora*@
        <div class="mb-3">
            <label for="SueldoHora" class="form-label"><strong>Sueldo por Hora</strong></label>
            <InputNumber @bind-Value="tecnico.SueldoHora" class="form-control" />
            <ValidationMessage For="@(() => tecnico.SueldoHora)" />
        </div>
    </div>

    <div class="card-footer bg-light d-flex justify-content-center mt-3">
        <div class="btn-group">

            <button type="submit" class="btn btn-outline-success ml-2"><span class="bi bi-check-circle-fill"></span> Guardar </button>
            <button type="button" class="btn btn-outline-danger" @onclick="Eliminar"><span class="bi bi-trash-fill"></span> Eliminar </button>
            <button type="button" class="btn btn-outline-danger" @onclick="Volver"><span class="bi bi-arrow-left-square-fill"></span> Volver </button>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public int TecnicoId { get; set; }

    public Tecnicos tecnico { get; set; } = new Tecnicos();
    public List<TiposTecnicos> ListaTiposTecnicos { get; set; } = new List<TiposTecnicos>();
    private bool Existe = false;

    protected override async Task OnInitializedAsync()
    {
        ListaTiposTecnicos = await tiposTecnicosServices.Listar(t => true);
    }


    public async Task Nuevo()
    {
        tecnico = new Tecnicos();
        Existe = false;
    }

    public async Task Buscar()
    {
        Existe = false;
        var tecnicoEncontrado = await tecnicoServices.Buscar(tecnico.TecnicoId);

        if (tecnicoEncontrado != null)
        {
            tecnico = tecnicoEncontrado;
        }
        else
        {
            await Nuevo();
        }
    }

    public async Task Guardar()
    {
        if (await Validar())
        {
            return;
        }

        var guardo = await tecnicoServices.Guardar(tecnico);
        if (guardo)
        {
            await Nuevo();
            navigationManager.NavigateTo("/Tecnico/index");
        }
    }

    public async Task Eliminar()
    {
        var eliminado = await tecnicoServices.Eliminar(tecnico.TecnicoId);
        await Nuevo();
    }

    private void Volver()
    {
        navigationManager.NavigateTo("/Tecnico/index");
    }

    public async Task<bool> Validar()
    {
        var listaTecnicos = await tecnicoServices.Listar(t => t.Nombres.ToLower() == tecnico.Nombres.ToLower() && t.TecnicoId != tecnico.TecnicoId);
        Existe = listaTecnicos.Any();
        return Existe;
    }
}